<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="niko_vend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <niko_vend.Properties.Settings>
            <setting name="coffeeGSave" serializeAs="String">
                <value />
            </setting>
            <setting name="milkSave" serializeAs="String">
                <value />
            </setting>
            <setting name="chocSave" serializeAs="String">
                <value />
            </setting>
            <setting name="teaYSave" serializeAs="String">
                <value />
            </setting>
            <setting name="sugarSave" serializeAs="String">
                <value />
            </setting>
            <setting name="rentSave" serializeAs="String">
                <value />
            </setting>
            <setting name="cupSave" serializeAs="String">
                <value />
            </setting>
            <setting name="stickWSave" serializeAs="String">
                <value />
            </setting>
            <setting name="wtrSave" serializeAs="String">
                <value />
            </setting>
            <setting name="stickPSave" serializeAs="String">
                <value />
            </setting>
            <setting name="coffeeSSave" serializeAs="String">
                <value />
            </setting>
            <setting name="irelandSave" serializeAs="String">
                <value />
            </setting>
            <setting name="string1C" serializeAs="String">
                <value />
            </setting>
            <setting name="string2C" serializeAs="String">
                <value />
            </setting>
            <setting name="string3C" serializeAs="String">
                <value />
            </setting>
            <setting name="string4C" serializeAs="String">
                <value />
            </setting>
            <setting name="string5C" serializeAs="String">
                <value />
            </setting>
            <setting name="string6C" serializeAs="String">
                <value />
            </setting>
            <setting name="string7C" serializeAs="String">
                <value />
            </setting>
            <setting name="teaMSave" serializeAs="String">
                <value />
            </setting>
            <setting name="stringAllVend" serializeAs="String">
                <value />
            </setting>
        </niko_vend.Properties.Settings>
    </userSettings>
</configuration>